body {
    background-color: #1c1111;
  }
  .admin-container {
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(182, 140, 140, 0.1);
    padding: 10px;
    margin: 30px;
  }

  
  h2 {
    color: #333333;
  }
  
  p {
    color: #666666;
  }
  
        .glowing-link {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #231616;
            color: #e5d5d5;
            text-decoration: none;
            font-weight: bold;
            position: relative;
            transition: all 0.3s;
        }

        .glowing-link::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #9a3b3b;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.3s;
        }

        .glowing-link:hover {
            color: #fff;
        }

        .glowing-link:hover::before {
            opacity: 1;
        }

        .glowing-link:hover::after {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            border-radius: 10px;
            background-color: #00aaff;
            z-index: -2;
            animation: glowing 1.5s infinite;
        }

        @keyframes glowing {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
   